.table-responsive > .table > tbody > tr > td > ul{
	background: lightgray !important;
	color: darkblue !important;
	border-radius: 10px !important;
}
.table-responsive > .table > tbody > tr > td > ul > li{
	/*list-style-type: upper-roman !important;*/
	list-style-type:square !important;
}